<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectonavigation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".preferences_activities.SportsPreferencesActivity" />
        <activity android:name=".ui.home.CardActivity" />
        <activity android:name=".ui.profile.ChangeProfileActivity" />
        <activity android:name=".preferences_activities.CulturePreferencesActivity" />
        <activity android:name=".preferences_activities.VideoGamesPreferencesActivity" />
        <activity android:name=".preferences_activities.BooksPreferencesActivity" />
        <activity android:name=".preferences_activities.OutdoorPreferencesActivity" />
        <activity android:name=".preferences_activities.TVShowsPreferencesActivity" />
        <activity android:name=".preferences_activities.MusicPreferencesActivity" />
        <activity android:name=".preferences_activities.FoodPreferencesActivity" />
        <activity android:name=".preferences_activities.CinemaPreferencesActivity" />
        <activity android:name=".preferences_activities.PreferencesActivity" />
        <activity android:name=".ui.start.RegisterActivity" />
        <activity android:name=".ui.start.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.start.MainActivity"
            android:label="@string/app_name">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>